SQL and Class Generator/obj/Debug/GDATA.Resources.resources
SQL and Class Generator/obj/Debug/GDATA.frm_about.resources
SQL and Class Generator/obj/Debug/GDATA.frm_main.resources
SQL and Class Generator/obj/Debug/GDATA.frm_rch.resources
SQL and Class Generator/obj/Debug/GDATA.vbproj.FileListAbsolute.txt
SQL and Class Generator/obj/Debug/GDATA.xml
SQL and Class Generator/obj/Debug/SQL and Class Generator.vbproj.FileListAbsolute.txt
SQL and Class Generator/obj/Debug/SQL and Class Generator.xml
SQL and Class Generator/obj/Debug/SQL_and_Class_Generator.Resources.resources
SQL and Class Generator/obj/Debug/SQL_and_Class_Generator.frm_main.resources
SQL and Class Generator/obj/Debug/SQL_and_Class_Generator.frm_rch.resources
